/* body{
width: 100%;
height: 100%;
} */

/* TitleBar */
.title {
  text-align: center;
  /* width: 100%; */
  height: 80px;
  background-color: #222;
  color: white;
  padding: 5px 20px 30px;
  font-size: 1.5em;
  margin-top: 10px;
}

.date-now{
  float:right;
  font-size: 0.4em;
  font-style: italic;
}



/* Portfolio and MarketStock */
.child-div{
  margin:0;
  height: 553px;
  background-color: rgba(10, 6, 6, 0.2);
  box-shadow:
  0 0 0 3px hsl(0, 0%, 50%),
  0 0 0 5px hsl(0, 0%, 60%),
  0 0 0 8px hsl(0, 0%, 70%),
  0 0 0 11px hsl(0, 0%, 80%),
  0 0 0 15px hsl(0, 0%, 90%);
}



/* Home.js */

/* .buttonStock, .buttonPortfolio{
display:inline-block;
} */

.button-portfolio{
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  border: 1px solid #aaa;
  color: #444;
  font-size: inherit;
  margin:auto;
  width: 7em;
  padding: 3px 12px 3px 12px;
  font-family: sans-serif;
  text-align: center;
  /* display: block; */
  justify-content: center;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button-stock{
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  border: 1px solid #aaa;
  color: #444;
  font-size: inherit;
  margin:auto;
  width: 7em;
  padding: 3px 12px 3px 12px;
  font-family: sans-serif;
  text-align: center;
  /* display: block; */
  justify-content: center;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
}

.stock-div {
  width:100%;
  height: 350px;
  position: relative;
  border: 3px solid darkgrey;
  direction: rtl;
  text-align: center;
  border-style: ridge;
}

.table{
  margin:auto;
}
/*
img{
width: 99%;
height: 80%;
} */

/* Navbar */
li{
  margin: 10px 5px;
  font-weight: bold;
}

.news-div{
  border: 5px solid black;
  border-style: dotted solid;
}

@keyframes title {
  from {text-shadow: 0 0 30px yellow, 0 0 50px pink;}
  to {text-shadow: 0 0 5px black;}
}

li{
  text-align: center;
  padding: 5px;
  color: white;
}

h2{
  color: white;
  text-align: center;
  animation-name: title;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

h3{
  text-align: center;
  padding: 5px;
  background: #222;
  color: white;
}

h4{
  text-align: center;
  color: white;
  text-shadow: 0 0 5px black;
}

select{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 50%;
  width:150px;
}

button{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
